<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="template.css" rel="stylesheet" />
</head>
<body>
    <section id="section-main">
        <table class="header-table">
            <tbody>
                <tr>
                    <td>
                    </td>
                    <td class="right-content">
                        <img height="40" src="C:\Users\anh.tran\source\repos\test_rdlc_export_pdf\test_rdlc_export_pdf\Template\sb-logo2.png" />
                    </td>
                </tr>
                <tr>
                    <td rowspan="4" colspan="2" class="text-invoice border-top" style="padding: 20px 0px;">
                        INVOICE DETAILS
                    </td>
                </tr>
                <tr>
                    <td class="right-content">
                    </td>
                </tr>
                <tr>
                    <td class="right-content">
                    </td>
                </tr>
                <tr>
                    <td class="right-content">
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="datatable service">
            <thead>
                <tr>
                    <th>
                        Service Name
                    </th>
                    <th class="right-text">
                        Quantity
                    </th>
                    <th class="right-text">
                        Price
                    </th>
                    <th class="right-text">
                        Tax
                    </th>
                    <th class="right-text">
                        Total
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="row-bg">
                    <td>
                        Service Name
                    </td>
                    <td class="right-text">
                        Quantity
                    </td>
                    <td class="right-text">
                        Price
                    </td>
                    <td class="right-text">
                        Tax
                    </td>
                    <td class="right-text">
                        Total
                    </td>
                </tr>
                <tr>
                    <td>
                        Service Name
                    </td>
                    <td class="right-text">
                        Quantity
                    </td>
                    <td class="right-text">
                        Price
                    </td>
                    <td class="right-text">
                        Tax
                    </td>
                    <td class="right-text">
                        Total
                    </td>
                </tr>
                <tr>
                    <td colspan="5" class="footer-row">
                        Service Name
                    </td>
                </tr>
            </tbody>
        </table>

    </section>
</body>
</html>